In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import json

In [32]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [33]:
train['has_collection'] = train['belongs_to_collection'].apply(lambda x: 0 if type(x) is float else 1)
test['has_collection'] = test['belongs_to_collection'].apply(lambda x: 0 if type(x) is float else 1)

In [34]:
train.loc[train["budget"]<10000,"budget"]=10000
test.loc[test["budget"]<10000,"budget"]=10000

In [35]:
train.loc[train["genres"].notnull(),"genres"]=train.loc[train["genres"].notnull(),"genres"].apply(lambda x : ast.literal_eval(x))
train["genres"]=train["genres"].apply(lambda x: x[0]['name'] if type(x) is not float else 'None')
test.loc[test["genres"].notnull(),"genres"]=test.loc[test["genres"].notnull(),"genres"].apply(lambda x : ast.literal_eval(x))
test["genres"]=test["genres"].apply(lambda x: x[0]['name'] if type(x) is not float else 'None')

In [36]:
train['has_homepage'] = train['homepage'].apply(lambda x: 0 if type(x) is float else 1)
test['has_homepage'] = test['homepage'].apply(lambda x: 0 if type(x) is float else 1)

In [37]:
train.drop(['imdb_id','original_title','overview','poster_path','cast','crew'], inplace=True, axis=1)

In [38]:
train['release_year'] = train['release_date'].apply(lambda x: x.split('/')[2])
test['release_date'].fillna('00/00/00', inplace=True)
test['release_year'] = test['release_date'].apply(lambda x: x.split('/')[2])

In [39]:
type(train['release_year'][5])

str

In [40]:
train['runtime'].fillna(train['runtime'].mean(), inplace=True);
test['runtime'].fillna(train['runtime'].mean(), inplace=True);

In [41]:
test['status'].fillna('Released', inplace=True)

In [42]:
train.loc[train["production_companies"].notnull(),"production_companies"]=train.loc[train["production_companies"].notnull(),"production_companies"].apply(lambda x : ast.literal_eval(x))
train["production_companies_num"]=train["production_companies"].apply(lambda x: len(x) if type(x) is not float else 0)
test.loc[test["production_companies"].notnull(),"production_companies"]=test.loc[test["production_companies"].notnull(),"production_companies"].apply(lambda x : ast.literal_eval(x))
test["production_companies_num"]=test["production_companies"].apply(lambda x: len(x) if type(x) is not float else 0)

In [43]:
train.loc[train["production_countries"].notnull(),"production_countries"]=train.loc[train["production_countries"].notnull(),"production_countries"].apply(lambda x : ast.literal_eval(x))
train["production_countries_first"]=train["production_countries"].apply(lambda x: x[0]['iso_3166_1'] if type(x) is not float else 'None')
test.loc[test["production_countries"].notnull(),"production_countries"]=test.loc[test["production_countries"].notnull(),"production_countries"].apply(lambda x : ast.literal_eval(x))
test["production_countries_first"]=test["production_countries"].apply(lambda x: x[0]['iso_3166_1'] if type(x) is not float else 'None')

In [44]:
train.loc[train["spoken_languages"].notnull(),"spoken_languages"]=train.loc[train["spoken_languages"].notnull(),"spoken_languages"].apply(lambda x : ast.literal_eval(x))
train["spoken_languages_num"]=train["spoken_languages"].apply(lambda x: len(x) if type(x) is not float else 0)
test.loc[test["spoken_languages"].notnull(),"spoken_languages"]=test.loc[test["spoken_languages"].notnull(),"spoken_languages"].apply(lambda x : ast.literal_eval(x))
test["spoken_languages_num"]=test["spoken_languages"].apply(lambda x: len(x) if type(x) is not float else 0)

In [45]:
train['tagline']=train['tagline'].apply(lambda x: 1 if type(x) is not float else 0)
test['tagline']=test['tagline'].apply(lambda x: 1 if type(x) is not float else 0)

In [46]:
train['title_num']= train['title'].apply(lambda x: sum(train['title']==x))
test['title_num']= test['title'].apply(lambda x: sum(test['title']==x) if type(x)is not float else 0)

In [47]:
train.loc[train["Keywords"].notnull(),"Keywords"]=train.loc[train["Keywords"].notnull(),"Keywords"].apply(lambda x : ast.literal_eval(x))
train["Keywords_num"]=train["Keywords"].apply(lambda x: len(x) if type(x) is not float else 0)
test.loc[test["Keywords"].notnull(),"Keywords"]=test.loc[test["Keywords"].notnull(),"Keywords"].apply(lambda x : ast.literal_eval(x))
test["Keywords_num"]=test["Keywords"].apply(lambda x: len(x) if type(x) is not float else 0)

In [48]:
X=train[['has_collection','has_homepage','budget', 'has_homepage', 'release_year', 
         'popularity','production_companies_num','runtime','spoken_languages_num','title_num' ]]
y=train['revenue']

In [49]:
from sklearn.neighbors import KNeighborsRegressor

In [50]:
knn = KNeighborsRegressor()

In [51]:
knn.fit(X,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [52]:
X_test=test[['has_collection','has_homepage','budget', 'has_homepage', 'release_year', 
         'popularity','production_companies_num','runtime','spoken_languages_num','title_num' ]]

In [53]:
result=knn.predict(X_test)

In [54]:
ss = pd.concat([test['id'],pd.Series(result,name='revenue')], axis=1)

In [67]:
ss.to_csv('sample_submission.csv',index=False,header=True, index_label ='id').set_index('id')

In [69]:
#df = pd.read_csv('sample_submission.csv')

In [70]:
df.set_index('id')

          revenue
id
3001    8628215.4
3002    7888819.6
3003    9391409.6
3004   16540045.8
3005     230206.2
3006   18952995.0
3007   11559185.6
3008   73342795.0
3009   89362240.2
3010  192161989.4
3011     230206.2
3012    4574060.2
3013   31711311.2
3014    2134688.4
3015   29009340.2
3016   21058668.4
3017  116113780.4
3018  122297607.0
3019   53497387.4
3020  627659846.6
3021   26162303.8
3022   43409476.8
3023    6926098.6
3024   70388780.4
3025      93513.4
3026   53542487.6
3027   14590116.6
3028  116004217.2
3029    1287604.8
3030   78055650.8
...           ...
7369   32545942.0
7370   66584164.8
7371    1211295.2
7372  166130652.8
7373  541910182.0
7374   13800754.4
7375   30488218.6
7376    1497987.4
7377   13789284.0
7378   45036706.6
7379   78105370.6
7380    1120296.4
7381     248778.0
7382    1768055.8
7383    2134688.4
7384   11630955.0
7385  148957420.0
7386   46993693.6
7387   11674738.4
7388     692071.4
7389   13374879.8
7390    5169691.2
7391   33486336.2
7392   20099319.6
7393  560039486.4
7394   78105370.6
7395   96363763.0
7396   30488218.6
7397    6040044.2
7398   50412741.6

[4398 rows x 1 columns]